body{
    background-color:  #a8c5cc;
}
h1{
    text-align: center;
}
.sectionleft{
    float: left;
    padding-right: 650px;
}
.sectionright{
    float: right;
}
p{
    text-align: left;
}
.navbar{
    background: rgba(27, 65, 65, 0.808);
    /* background: rgb(39, 136, 143); */
    width: 100%;
    overflow: auto;
    align-content: center;
    height: 70px;
}